<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Students Management</title>
</head>

<body>
    <h1>Add new Student</h1>
    <form th:action="@{save}" method="post">
        <table>
            <tr>
                <td>id</td>
                <td><input type="text" name="id" /></td>
            </tr>
            <tr>
                <td>firstname</td>
                <td><input type="text" name="FirstName" /></td>
            </tr>
            <tr>
                <td>lastname</td>
                <td><input type="text" name="LastName" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</body>

</html>
